{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Python is awesome</h1>
            <p class="lead">Learning Django is Fun</p>
            <hr class="my-4">
            <a href="{% url 'productAdd' %}" class="btn btn-block btn-success">Add</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-block btn-danger">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-block btn-success">Login</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12 productTable">
                {% include '_partial/_table.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script src="{% static "custom/js/custom.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                responsive: true,

            });
        });
    </script>
{% endblock %}